/*  your css code here. If applicable */
 #grid-container {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-gap: 10px;
      margin-bottom: 20px;
    }

    .grid-item {
      width: 100px;
      height: 100px;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: transparent;
    }